body {
    background-image:radial-gradient(circle at 0 0,#999999,#444444);
}
#myChart {
    position: relative;
    left: 50%;
    margin-left: -450px;
    display: inline;
}
.ui.statistics {
    position: relative;
    width: 1175px;
    left: 50%;
    margin-left: -587.5px;
}
#inputs {
    position: relative;
    width: 612px;
    left: 50%;
    margin-left: -306px;
}
