* {
    /*font-family: Arial;*/
}
body {
    background-image:radial-gradient(circle at 0 0,#999999,#444444);
}
#chart-holder {
    position: relative;
    width: 1000px;
    float: left;
}
#menu-wrapper {
    height: 60px;
}
canvas {
    position: relative;
}
#menu {
    position: relative;
    width: 510px;
    height: 40px;
    left: 50%;
    margin-left: -255px;
    top: 10px;
}
#menu div {
    float: left;
}
#stats table {
    position: relative;
    display: none;
}
#stats {
    overflow: hidden;
    position: relative;
    width: 350px;
    height: 400px;
    float: right;
}
#stats .statistics {
    display: none;
}
